@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

img {
    width: 10rem;
    position: absolute;
    animation: text-circle 5s linear infinite reverse;
    filter: drop-shadow(0px 0px 8px #333);
}

svg {
    animation: text-circle 5s linear infinite;
}

@keyframes text-circle {
    to {
        transform: rotate(1turn);

    }

}

text {
    font-size: 25px;
    text-shadow: 5px 0 #ccc;
}